.logo {
  width: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.app-wrapper {
  width: 754px;
  display: flex;
  margin: 0 auto;
}

@media only screen and (min-width : 360px) and (max-width : 800px) {
  .app-wrapper {
    display: block;
    width: inherit;
    padding-left: 3px;
    padding-right: 3px;
  }
  .logo {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}