.rangeSlider {
    margin-left: 20px;

}

.duration {
    margin-top: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #4A4A4A;
}